
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Open Sans', sans-serif;
    background-color: darkslategray;

}

#logo{
    width: 10rem ;
    margin-bottom: -2rem;
    margin-top: -1rem;
}

.textocentrado{
    object-fit: fill;
    text-align: justify;
    text-shadow: 2px 2px 3px black;
    
    text-shadow:#2c2c2c;
    text-shadow: 2rem;
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3{
    font-size:xx-large
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    margin: 10px 15px;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(3, 89, 92, .5);
    transform: translateY(-15px);
}

.card .head {
    height: 125px;
    width: 100%;
    position: relative;
}

.card .head .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #0b6f72;
    bottom: 0;
}

.card .head .img {
    width: 150px;
    height: 150px;
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);
}

.card .head .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card .description {
    height: 200px;
    padding: 40px 20px 20px 20px;
    border-bottom: solid 1px rgba(6, 74, 76, .18);
    text-align: center;
}

.card .description h3 {
    color: #05383a;
}

.card .description h4 {
    color: #cc1b2a;
}

.card .description p {
    margin-top: 20px;
    font-size: 15px;
}

.card .contact {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .contact a {
    text-decoration: none;
    color: #fff;
    background: #0f0f0f;
    padding: 5px 20px;
    border-radius: 5px;
    transition: .3s;
}

.card .contact a:hover {
    background: #0b6164;
}

.perfiles{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}

.perfiles{
    margin-left: 25%;
    margin-right: 25%;
}

.separador{
    font-family: 'Roboto', sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 10%;
    margin-right: 10%; 
    padding-top: 0.5rem;
    text-align: center;
    border: #0f0f0f;
    color: #fff;
    border-top:2px solid hsl(162, 70%, 51%); border-bottom:2px solid #2cdaa5
}

.container-fluid{
    padding-left: 10%;
    padding-right: 10%;
    
}

#copyright{

    padding: 3rem;
    text-align: center;
    margin-bottom: 0rem;
    background-color:#041616;
    color: antiquewhite;
}

/* .iconossociales{

Preguntar por que si modificaba esta clase no pasaba nada y si modificaba directamente desde  i{} si

} */

i{
    padding: 1rem;
    font-size: x-large;
}

.barritamensaje{
    background: #929292; font-weight: bold; color:antiquewhite;padding: 15px; border-top:2px solid #0f3d2f; border-bottom:2px solid #0f3d2f; text-align: center
}

.formasdepago{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5em;
}

.pago h2{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 35%;
    margin-right: 35%; 
    text-align: center;
    border: #0f0f0f;
    border-radius: 3rem;
    background-color:#20b3b8;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(58, 58, 58), 0 0 0.2em rgb(39, 39, 39);
}

#prueba{
    color: aliceblue;
}

#separadorservicios{
    margin-bottom: -10rem;
}

#formaspago{
    max-width: 20rem;
}

@media(max-width:767.98px){
    h3{
        font-size: large;
    }
    h4{
        font-size: medium;
    }
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.cta p {
    color: #fff;
}

.cta-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.cta .cta-btn:hover {
    background: #2cdaa5;
    border: 2px solid #2cdaa5;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .php-email-form button[type=submit] {
    background: #2cdaa5;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
    justify-content: end;
    align-items: end;
}